// import our customized Bootstrap
@import "bootstrap";
// load custom fonts (Poppins and FiraCode)
@import "fonts";

:root,
[data-bs-theme="light"] {
    --navbar-bg: $bioid-light-bg;
    --navbar-bg-rgb: #{to-rgb($bioid-light-bg)};
    --navbar-opacity: .9;
    --shadow-rgb: #{to-rgb($bioid-dark)};
    --shadow-opacity: .3;
}

[data-bs-theme="dark"] {
    --navbar-bg: $bioid-dark;
    --navbar-bg-rgb: #{to-rgb($bioid-dark)};
    --shadow-rgb: #{to-rgb($bioid-blue2)};
    --shadow-opacity: .3;
}

$navbar-bg: rgba(var(--navbar-bg-rgb), var(--navbar-opacity));
$shadow-color: rgba(var(--shadow-rgb), var(--shadow-opacity));

.bg-navbar {
    background-color: $navbar-bg !important;
}

.navbar {
    padding: 1rem;

    .navbar-logo {
        width: 7rem;

        @include media-breakpoint-down(sm) {
            width: 5rem;
        }
    }

    .navbar-title {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translate(-50%);
        padding: 0 1rem;

        @include media-breakpoint-down(sm) {
            top: 1.2rem;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 1rem 4rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 1rem 7rem;
    }

    @include media-breakpoint-up(xxl) {
        padding: 1rem 10rem;
    }
}

.btn-nav {
    position: fixed;
    width: 6.4rem;
    height: 6.4rem;
    font-size: 0.8rem;
    font-weight: normal;
    top: 0rem;
    right: 0;
    padding: 0rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 12px -5px $shadow-color;

    img {
        width: 2.5rem;
        height: 2.5rem;
        padding-bottom: 0.5rem;
    }

    &.btn-nav1 {
        top: 10rem;
    }

    &.btn-nav2 {
        top: 18.4rem;
    }

    &.btn-nav3 {
        top: 26.8rem;
    }
}

main {
    // keep some space on top for the navbar
    > .container-fluid {
        padding-top: 7.5rem;
    }
}

.main-bg {
    background: url("../images/bg-pattern.svg") no-repeat right top;
    background-size: 420px;
    background-blend-mode: lighten;
}

.footer {
    margin-top: 2rem;
    padding-top: 1rem;
    width: 100%;
}

.dropup {
    line-height: var(--bs-body-line-height);
}

.scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .8s ease;
    padding: 0.5rem;
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}

.demo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 6rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    button:last-child, a:last-child {
        margin-top: auto
    }
}

.bws3::after {
    font-size: 0.6rem;
    color: $bioid-coral;
    content: " BWS 3";
    vertical-align: top;
    white-space: pre;
}

.bwsclassic::after {
    font-size: 0.6rem;
    color: $bioid-blue;
    content: " Classic BWS";
    vertical-align: top;
    white-space: pre;
}

.btn-close-tr {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $stretched-link-z-index + 1;
    padding: $alert-padding-y * 1.25 $alert-padding-x;
}

.no-filter {
    filter: none;
}

.how-it-works {
    position: absolute;
    top: 2%;
    right: 3%;
    color: white;
}

.capture-btn {
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    transform: translate(-50%);
}

.head-movement {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
}

.btn-circle {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    border-radius: 1.5rem;
    font-size: 2rem;

    svg {
        vertical-align: top;
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 0.8;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.select-country {
    width: 14rem;
}

.img-mw300 {
    max-width: 300px;
    height: auto;
}

.img-w300 {
    width: min(100%, 300px);
    height: auto;
}

.select-format {
    max-width: 30rem;
}

.format-details {
    max-width: 8rem;
}

// rotates a expand/collapse chevron
[data-bs-toggle="collapse"] {
    .bi-up-down {
        transition: .3s transform ease-in-out;
    }

    &.collapsed {
        .bi-up-down {
            transform: rotate(-90deg);
        }
    }
}

@include color-mode(dark) {
    .navbar-brand {
        img {
            content: url("../images/BioID_Light.svg");
        }
    }

    .ld-icon {
        img {
            content: url("../images/LivenessDetection_Light.svg");
        }
    }

    .fdd-icon {
        img {
            content: url("../images/DeepfakeDetection_Light.svg");
        }
    }

    .pv-icon {
        img {
            content: url("../images/PhotoVerify_Light.svg");
        }
    }
}

// reduce font-size for small devices
@include media-breakpoint-down(md) {
    html {
        font-size: 0.93rem;
    }
}

// reduce font-size even more for extra small devices
@include media-breakpoint-down(sm) {
    html {
        font-size: 0.86rem;
    }
}
