@page "~/PhotoVerify/{handler?}"
@model PhotoVerifyModel
@{
    ViewData["Title"] = "PhotoVerify";
    ViewData["Heading"] = "PhotoVerify";
}

<section id="webapp" class="d-none">
    <!-- Intro -->
    <div class="row mb-5">
        <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-xxl-3 col-xxl-6">
            <p>
                This demo performs a liveness detection on two selfies to verify whether they were recorded from a live person.
                Additionally, it performs a one-to-one comparison with the ID photo submitted in order to verify whether the
                live images and ID photo belong to the same person.
            </p>
            <p>
                This application uses our BWS 3 <a href="https://developer.bioid.com/bws/grpc/photoverify" target="_blank" rel="noopener">PhotoVerify API</a>.
            </p>
            <div>
                <a href="https://www.youtube.com/watch?v=EMYCZdBDT54" target="_blank" rel="noopener" title="PhotoVerify - Full Instruction">
                    Watch an instructional video
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
            <div class="row mb-4">
                <div class="col-sm-7 d-flex flex-column justify-content-between mb-sm-0 mb-3">
                    <h4>STEP 1: ID Photo</h4>
                    <div class="mb-3">
                        <p>Choose or drop a file here:</p>
                        <label for="select-photo" id="image-file" class="btn btn-outline-primary text-lowercase">no file selected yet</label>
                        <input type="file" id="select-photo" name="photo" class="d-none" accept="image/png,image/bmp,image/x-bmp,image/jpeg,image/tiff,image/gif,image/jp2">
                    </div>
                    <div class="w-100">
                        <div class="row">
                            <div class="col-4">
                                <div>ID-PHOTO</div>
                                <img class="border img-fluid w-100" id="id-photo" src="~/images/bg-placeholder.svg">
                                </div>
                                <div class="col-4">
                                    <div>SELFIE 1</div>
                                    <img class="border img-fluid w-100" id="image1" src="~/images/bg-placeholder.svg">
                                    </div>
                                    <div class="col-4">
                                        <div>SELFIE 2</div>
                                        <div class="position-relative">
                                            <img class="border img-fluid w-100" id="image2" src="~/images/bg-placeholder.svg">
                                                <div class="capture-btn text-info  d-none" id="captureSpinner">
                                                    <div class="spinner-grow text-danger" role="status"></div>
                                                    <div>Please&nbsp;nod your&nbsp;head.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-8 offset-2 col-sm-5 offset-sm-0">
                                <h4>STEP 2: One click &ndash; two selfies</h4>
                                <p class="small lh-sm">
                                    Click once on the camera-button to capture two selfies.
                                    To capture the second image just nod your head a little bit.
                                </p>
                                <div class="d-flex justify-content-center align-items-end">
                                    <div class="border img-fluid">
                                        <div class="position-relative">
                                            <div class="how-it-works z-3">
                                                <a class="text-white" href="#" data-bs-toggle="modal" data-bs-target="#howItWorks">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="capture-btn z-3">
                                                <button id="capture" class="btn btn-primary btn-circle" title="Start the recording of two selfies.">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                                                        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                        <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div id="headMovementHint" class="head-movement text-white fs-6 fw-medium z-2">Center your head</div>
                                            <canvas class="align-bottom mw-100" id="drawingcanvas"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <form method="post" id="processForm">
                                <div>
                                    <button type="button" id="execute" class="btn btn-primary" disabled>
                                        <span id="processSpinner" class="spinner-border spinner-border-sm d-inline-block d-none" role="status"><span class="visually-hidden">processing ...</span></span>
                                        Perform Operation
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

    <div id="operationResult" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="operationResultLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="operationResultLabel">Your PhotoVerify result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="result-view"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skipBiometrics" class="d-none col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xxl-3 col-xxl-5">
    <div class="alert alert-danger mb-4" role="alert">
        <strong>We could not capture an image.</strong>
        <br>
        Sorry, but without access to the camera, facial recognition and liveness detection aren't possible!
    </div>
    <p>
        It appears that we do not have access to the camera. To perform biometric operations, please try the following:
    </p>
    <ul class="mb-4 text-start">
        <li>Make sure the camera is not utilized by another process.</li>
        <li>Grant access to the camera.</li>
        <li>Use a different browser (e.g. the most recent versions of Opera, Firefox, Chrome or Edge).</li>
    </ul>
</section>
<partial name="_HowItWorks" />

@section Scripts {
    <script type="module" src="~/js/pages/PhotoVerify.js"></script>   
}